[Unit]
Description=Telegram bot with (golang) plugins.
After=network.target

[Service]
# Comment this out to hide debug logs.
Environment=DEBUG=true
ExecStart=tgbwp

[Install]
WantedBy=default.target
